<h3>Here we go</h3>
<br/>
<br/>
<div class="row">
    <div class="col-sm-4" ng-controller="AddSubController">
<form [formGroup]="tfForm">
        <label>Select to or from: </label>
        <select
            name="key1selector"
            formControlName="key1"
            ng-model="data.tfFrom"
        >
            <option value="">---Please select---</option>
            <option value="to">To</option>
            <option value="from">from</option>
        </select>
        <br/>
        <br/>
    <label for="tfForm">Year between 1970 and 2100:</label>
        <textarea
        class="form-control z-depth-1"
        id="exampleFormControlTextarea6"
        rows="4"
        placeholder="Write description here..."
        formControlName="key2"
    ></textarea>
    <br />
    <br />
   
    <label>Month: </label>
    <select
        name="key3selector"
        formControlName="key3"
        ng-model="data.tfFrom"
    >
        <option value="">---Please select---</option>
        <option [ngValue]="0">January</option>
        <option [ngValue]="1">February</option>
        <option [ngValue]="2">March</option>
        <option [ngValue]="3">April</option>
        <option [ngValue]="4">May</option>
        <option [ngValue]="5">June</option>
        <option [ngValue]="6">July</option>
        <option [ngValue]="7">August</option>
        <option [ngValue]="8">September</option>
        <option [ngValue]="9">October</option>
        <option [ngValue]="10">November</option>
        <option [ngValue]="11">December</option>
    </select>

    <br />
    <br />

    <label for="tfForm">
        Day:
    </label>
        <textarea
        class="form-control z-depth-1"
        id="exampleFormControlTextarea6"
        rows="1"
        placeholder="Write description here..."
        formControlName="key4"
    ></textarea>
</form>
      </div>
    </div> 
<br/>
<br/>
<button class="btn btn-primary" (click)="toAndFrom()">Click for to and from</button>
<br/>
<br/>