<div class="jumbotron demo-description-block">
    <h4><em>How it works</em></h4>
    <p></p>
</div>
<hr />
<br />

<div class="row">
    <div class="col-sm-4" ng-controller="AddSubTimeController">
        <form [formGroup]="createEvent">
            <label for="createEvent">Month:</label>
            <select
                name="key1selector"
                formControlName="key1"
                ng-model="data.createEvent"
            >
                <option [ngValue]="">---Please select---</option>
                <option [ngValue]="0">January</option>
                <option [ngValue]="1">February</option>
                <option [ngValue]="2">March</option>
                <option [ngValue]="3">April</option>
                <option [ngValue]="4">May</option>
                <option [ngValue]="5">June</option>
                <option [ngValue]="6">July</option>
                <option [ngValue]="7">August</option>
                <option [ngValue]="8">September</option>
                <option [ngValue]="9">October</option>
                <option [ngValue]="10">November</option>
                <option [ngValue]="11">December</option>
            </select>
            <br />
            <br />
            <label for="createEvent">Day:</label>
            <input
                style="margin-left: 0px;"
                class="form-control col-sm-4"
                type="number"
                formControlName="key2"
            />
            <br />
            <br />
            <label>Year: </label>
            <select
                name="key3selector"
                formControlName="key3"
                ng-model="data.createEvent"
            >
                <option value="">---Please select---</option>
                <option [ngValue]="2019">2019</option>
            </select>

            <br />
            <br />

            <label for="exampleFormControlTextarea6">Description:</label>
            <textarea
                class="form-control z-depth-1"
                id="exampleFormControlTextarea6"
                rows="3"
                placeholder="Write description here..."
                formControlName="key4"
            ></textarea>

            <br />
            <br />

            <label>
                Priority:
            </label>
            <select
                name="key5selector"
                formControlName="key5"
                ng-model="data.createEvent"
            >
                <option value="">---Please select---</option>
                <option value="No Importance">No Importance</option>
                <option value="Some Importance">Some Importance</option>
                <option value="Very Important">Very Important</option>
                <option value="Extremely Important">Extremely Important</option>
            </select>
        </form>
    </div>
</div>

<br />
<br />

<button class="btn btn-primary" (click)="setEvent()">
    Submit!
</button>

<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-sm-6">
        <table cellpadding="8" style="border: groove black;width: 100%;">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Priority</th>
            </tr>
            <tr *ngFor="let e of outputArr">
                <td>
                    {{ e.date }}
                </td>
                <td>
                    {{ e.desc }}
                </td>
                <td>
                    {{ e.priority }}
                </td>
            </tr>
        </table>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
