<div class="jumbotron demo-description-block">
    <h4><em>How it works</em></h4>
    <p></p>
</div>
<hr />
<label>Date before reformat: </label>
<p>{{ currentDate.mtDate.format('MM/DD/YYYY') }}</p>
<br />
<label>Date after reformat: </label>
<p>{{ newDate }}</p>

<br />

<form [formGroup]="formSelect">
    <label for="formSelect">Choose a format: </label><br />
    <select name="formSelect" formControlName="key1" ng-model="data.formSelect">
        <option value="">---Please select---</option>
        <option value="dmy">DD/MM/YYYY</option>
        <option value="dym">DD/YYYY/MM</option>
        <option value="ymd">YYYY/MM/DD</option>
        <option value="ydm">YYYY/DD/MM</option>
        <option value="mdy">MM/DD/YYYY</option>
        <option value="myd">MM/YYYY/DD</option>
    </select>
</form>
<br />
<button (click)="decideFormat()">
    Submit!
</button>
